
#mapbox-map {
    width: 100%;
    height: 400px;
	margin-bottom: 1.5em;
  }

.map-garmin-activities-popup-text {
	color: black;
}

.map-garmin-activities-popup-title-text {
	color: black;
	padding: 0;
	margin: 0;
}